
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBookLabel" translate="books2App.book.home.createOrEditLabel">Create or edit a Book</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="book.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="books2App.book.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="book.title"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="books2App.book.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="book.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="books2App.book.publicationDate" for="field_publicationDate">PublicationDate</label>
            <input type="date" class="form-control" name="publicationDate" id="field_publicationDate"
                    ng-model="book.publicationDate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="books2App.book.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="book.price"
                     />
        </div>

        <div class="form-group">
            <label translate="books2App.book.author" for="field_author">author</label>
            <select class="form-control" id="field_author" name="author" ng-model="book.author" ng-options="author as author.name for author in authors track by author.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
