
<div>
    <h2><span translate="books2App.book.detail.title">Book</span> {{book.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="books2App.book.title">Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{book.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="books2App.book.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{book.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="books2App.book.publicationDate">PublicationDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{book.publicationDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="books2App.book.price">Price</span>
                </td>
                <td>
                    <span class="form-control-static">{{book.price}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="books2App.book.author">author</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="author.detail({id:book.author.id})">{{book.author.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
